{% extends 'download/base.html' %}


{% block title%}
Скачать арты и фото из игр бесплатно
{% endblock %}

{% block content %}
<h1 align="center">
<section class="jumbotron text-center">
    <div class="container">
      <h1>Скачать фото и арты</h1>
      <p align="center">Вы можете бесплатно скачать любые фото и арты с нашего сайта совершенно бесплатно без смс и регистрации. </p>
        <p align="center"> Что бы скачать вам нужно просто нажать на (Открыть в браузере) и нажать на правую клавишу миши и вибрать пункт (Сохранить как...)</p>
<form action="{% url 'search_results' %}" method="get">
  <input name="q" style="font-size:25px;"  type="text" placeholder="Search...">
</form>
    </div>
  </section>
        
<style>
   img {
    border: 5px solid #00a8e1;
   }
</style> 
    
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="http://www.gamer.ru/system/attached_images/images/000/232/673/original/20100818-gamestar.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">нежыть</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="http://www.gamer.ru/system/attached_images/images/000/232/673/original/20100818-gamestar.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/177380/1603830992_5824.jpeg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Апокалипсис</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/177380/1603830992_5824.jpeg">Открыть файл в браузере</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_11.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Солдат1</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_11.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_09.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Солдат2</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_09.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-12.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Берег реки</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-12.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-24.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Костюм с F4</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-24.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-3.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">База</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-3.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-22.jpg" Width="700" Height="500">
            <div class="card-body">
              <p class="card-text">Звездные воины</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-22.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>
</h1>
{% endblock %}