{% extends 'download/base.html' %}

{% block title%}
Скачать арты и фото из игр бесплатно
{% endblock %}

{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Скачать фото и арты</h1>
      <p class="lead text-muted">Вы можете бесплатно скачать любые фото и арты с нашего сайта совершенно бесплатно без смс и регистрации. </p>
<form action="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_11.jpg">
  <input type="search" name="text">
  <input type="submit" value="Найти">
</form>
        <p class="lead text-muted"> Что бы скачать вам нужно просто нажать на (Открыть в браузере) и нажать на правую клавишу миши и вибрать пункт (Сохранить как...)</p>
    </div>
  </section>
        
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="http://www.gamer.ru/system/attached_images/images/000/232/673/original/20100818-gamestar.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Нежыть</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="http://www.gamer.ru/system/attached_images/images/000/232/673/original/20100818-gamestar.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/177380/1603830992_5824.jpeg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Апокалипсис</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/177380/1603830992_5824.jpeg">Открыть файл в браузере</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_11.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Солдат1</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_11.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_09.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Солдат2</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://vgtimes.ru/uploads/gallery/main/172924/btw_key_art_09.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-12.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Берег реки</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-12.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-24.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Костюм с F4</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-24.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-3.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">База</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-3.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <Img src="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-22.jpg" Width="500" Height="300">
            <div class="card-body">
              <p class="card-text">Звездные воины</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <p><a href="https://genapilot.ru/wp-content/uploads/2018/01/best-pc-concept-art-22.jpg">Открыть файл в браузере</a>
                </div>
              </div>
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
</div>
{% endblock %}